In [21]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

In [22]:
table_oeuvre_auteur = pd.read_csv("table_oeuvre_auteur.csv")
table_musee = pd.read_csv("table_musee.csv")
table_Oeuvre_Domaine = pd.read_csv("table_Oeuvre_Domaine.csv")
table_oeuvres = pd.read_csv("table_oeuvres.csv")

In [23]:
table_Oeuvre_Domaine

          ID-notice        Domaine
0       M0435002007      sculpture
1       M0435001924      sculpture
2       08120020599         dessin
3       08120020608         dessin
4       08120020826         dessin
...             ...            ...
639910  50520013329  vie militaire
639911  00660020018         dessin
639912  00660020018     beaux-arts
639913  00660020033         dessin
639914  00660020033     beaux-arts

[639915 rows x 2 columns]

In [24]:
DB_NAME = 'joconde2'

TABLES = {}

TABLES['musees'] = (
    "CREATE TABLE `musees` ("
    "  `Id` varchar(10) NOT NULL,"
    "  `Nom` varchar(250),"
    "  `Region` varchar(50),"
    "  `Departement` varchar(50),"
    "  `Ville` varchar(50),"
    "  `Latitude` float(25),"
    "  `Longitude` float(25),"
    "  PRIMARY KEY (`Id`)"
    ") ENGINE=InnoDB")

TABLES['oeuvres'] = (
    "CREATE TABLE `oeuvres` ("
    "  `Id` varchar(25) NOT NULL,"
    "  `Titre` varchar(250),"
    "  `Période_Création` varchar(250),"
    "  `IdMusee` varchar(10),"
    "  PRIMARY KEY (`Id`),"
    "  CONSTRAINT `oeuvres_ibfk_1` FOREIGN KEY (`IdMusee`) "
    "     REFERENCES `musees` (`Id`)"
    ") ENGINE=InnoDB")

TABLES['creer'] = (
    "CREATE TABLE `creer` ("
    "  `IdOeuvre` varchar(25) NOT NULL,"
    "  `Auteur` varchar(50),"
    "  CONSTRAINT `creer_ibfk_1` FOREIGN KEY (`IdOeuvre`) "
    "     REFERENCES `oeuvres` (`Id`)"
    ") ENGINE=InnoDB")

TABLES['domaine'] = (
    "CREATE TABLE `domaine` ("
    "  `IdOeuvre` varchar(25) NOT NULL,"
    "  `domaine` varchar(50),"
    "  CONSTRAINT `domaine_ibfk_1` FOREIGN KEY (`IdOeuvre`) "
    "     REFERENCES `oeuvres` (`Id`)"
    ") ENGINE=InnoDB")

In [25]:
cnx = mysql.connector.connect(user='root',password = "root", database='joconde2')
cursor = cnx.cursor()
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table musees: OK
Creating table oeuvres: OK
Creating table creer: OK
Creating table domaine: OK