In [1]:
import pandas as pd
import mysql.connector
import googlemaps

In [17]:
auteur = "chaissac gaston"

In [4]:
cnx = mysql.connector.connect(user='root',password = "root",host="localhost",  database='joconde2')

In [26]:
mycursor =cnx.cursor()
mycursor.execute(f"SELECT oeuvres.IdMusee FROM oeuvres INNER JOIN creer ON oeuvres.Id=creer.IdOeuvre WHERE creer.Auteur='chaissac gaston'")
mes_resultats = mycursor.fetchall()

In [27]:
mes_resultats

[('M0431',),
 ('M0994',),
 ('M0181',),
 ('M0016',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0888',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0639',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0743',),
 ('M0506',),
 ('M0743',),
 ('M0743',),
 ('M0639',),
 ('M0028',),
 ('M0994',),
 ('M0994',),
 ('M0743',),
 ('M0994',),
 ('M0994',),
 ('M0994',),
 ('M0743',),
 ('M0888',),
 ('M0028',),
 ('M0028',),
 ('M0994',),
 ('M0028',),
 ('M0028',)]

In [31]:
mycursor =cnx.cursor()
mycursor.execute(f"SELECT musees.nom,musees.Ville FROM oeuvres INNER JOIN musees on oeuvres.IdMusee=musees.Id INNER JOIN creer ON oeuvres.Id=creer.IdOeuvre WHERE creer.Auteur='chaissac gaston'")
mes_resultats = mycursor.fetchall()

In [33]:
set(mes_resultats)

{("LaM, Lille Métropole musée d'art moderne, d'art contemporain et d'art brut",
  "Villeneuve d'Ascq"),
 ('musée Greuze - hôtel-Dieu', 'Tournus'),
 ("musée d'Art Moderne et d'Art Contemporain", 'Nice'),
 ("musée d'Unterlinden", 'Colmar'),
 ("musée d'art contemporain du Val-de-Marne", 'Vitry-sur-Seine'),
 ("musée d'art moderne et contemporain de Strasbourg", 'Strasbourg'),
 ('musée de Grenoble', 'Grenoble'),
 ('musée des Beaux-Arts', 'Nantes'),
 ("musée départemental d'Art Contemporain", 'Rochechouart')}

In [34]:
df_result = pd.DataFrame(set(mes_resultats),columns=["Nom_Musée","Ville"])

In [35]:
df_result

                                           Nom_Musée              Ville
0  LaM, Lille Métropole musée d'art moderne, d'ar...  Villeneuve d'Ascq
1                                  musée de Grenoble           Grenoble
2          musée d'Art Moderne et d'Art Contemporain               Nice
3                               musée des Beaux-Arts             Nantes
4                                musée d'Unterlinden             Colmar
5             musée départemental d'Art Contemporain       Rochechouart
6                          musée Greuze - hôtel-Dieu            Tournus
7           musée d'art contemporain du Val-de-Marne    Vitry-sur-Seine
8  musée d'art moderne et contemporain de Strasbourg         Strasbourg

In [36]:
API_key = open("c:/Users/33638/Desktop/joconde_script/API_key_gmaps.txt").readline()

In [37]:
gmaps = googlemaps.Client(key=API_key)

In [38]:
ville_depart = "Lannion"

In [45]:
my_dist = gmaps.distance_matrix(ville_depart,df_result.Ville[0])['rows'][0]['elements'][0]
distance = my_dist['distance']['text']
duration = my_dist['duration']['text']

In [47]:
df_result['distance'] = None
df_result['duration'] = None

In [48]:
for row in df_result.index:
    my_dist = gmaps.distance_matrix(ville_depart,df_result.Ville[row])['rows'][0]['elements'][0]
    df_result['distance'][row] = my_dist['distance']['text']
    df_result['duration'][row] = my_dist['duration']['text']

In [49]:
df_result

,Nom_Musée,Ville,distance,duration
0,"LaM, Lille Métropole musée d'art moderne, d'ar...",Villeneuve d'Ascq,682 km,6 hours 45 mins
1,musée de Grenoble,Grenoble,"1,011 km",9 hours 28 mins
2,musée d'Art Moderne et d'Art Contemporain,Nice,"1,368 km",12 hours 44 mins
3,musée des Beaux-Arts,Nantes,268 km,2 hours 53 mins
4,musée d'Unterlinden,Colmar,978 km,9 hours 48 mins
5,musée départemental d'Art Contemporain,Rochechouart,571 km,6 hours 6 mins
6,musée Greuze - hôtel-Dieu,Tournus,833 km,7 hours 41 mins
7,musée d'art contemporain du Val-de-Marne,Vitry-sur-Seine,509 km,4 hours 57 mins
8,musée d'art moderne et contemporain de Strasbourg,Strasbourg,995 km,9 hours 27 mins